<div class="conatiner min-vh-100 d-flex flex-column justify-content-center align-items-center bg-dark text-light">
  <div class="card shadow-lg p-4 bg-secondary text-light" style="max-width: 400px; width: 100%;">
  <h2 class="mb-4 text-center">Stupid Coach says</h2>
  <p class="fs-4 text-center"><%= @answer %> </p>
  <div class="d-grid">
    <%= link_to "Ask another question", "/", class: "btn btn-outline-light mt-3" %>
  </div>

  </div>
</div>
